.ingredients {
    width: 600px;
    margin: 0 auto;
}

.tabs {
    display: flex;
}

.list {
    height: 720px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-variable)*14);
}
