.link {
    display: flex;
    flex-direction: row;
    gap: calc(var(--offset-base-size)*2);
    cursor: pointer;
    justify-self: end;
    transition: opacity 0.2s linear;
}

.link:hover {
    opacity: 0.7;
}
