.formSection {
    composes: formSection from "./pages.module.css";
    padding-top: 120px;
    align-items: flex-start;
}

.form {
    width: 860px;
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 60px;
}

.fieldset {
    composes: fieldset from "./pages.module.css";
    padding: 0;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fakeButton {
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.fakeButton:hover {
    opacity: 0.7;
}