.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview {
    width: 480px;
}

.nutritionList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--offset-base-size)*5);
    list-style: none;
    color: var(--text-inactive-color);
    padding: 0;
}

.nutritionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}