.cardList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--offset-base-size)*6);
    row-gap: calc(var(--offset-base-size)*8);
    margin: 0;
}