.container {
    width: 640px;
    margin: 0 auto;
}

.orderNumber {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: calc(var(--offset-base-size)*30)
}

.ingredientsList {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size)*4);
    list-style: none;
    padding: 0 25px 0 0;
    margin: 0;
    max-height: 312px;

}

.ingredientRow {
    display: grid;
    grid-template-columns: 64px 320px 1fr;
    gap: calc(var(--offset-base-size)*4);
    align-items: center;
}

.priceColumn {
    justify-self: end;
    display: flex;
    gap: 6px;
}

.containerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}